<tr>
  <td style="font-size:0!important;line-height:100%;background-color:<%= vars.textColor %>;padding-top:16px;padding-bottom:16px;padding-left:40px;padding-right:40px;" align="center">
    <table role="presentation" align="center" cellspacing="0" cellpadding="0" border="0" style="transition:.15s ease-in;">
      <tbody>
        <tr>
          <td style="font-size:18px;line-height:27px;vertical-align:top;" align="center">
            <a href="<%= url %>" style="font-family:<%= vars.headingFontFamily %>;word-break:break-word;font-weight:700;color:<%= vars.textColor %>;border-radius:56px;background-color:<%= vars.bgColor %>;text-decoration:none;display:block;padding:14px 32px;"><span><%= text %></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
