<tr>
  <td style="background-color:<%= vars.bgColor %>;font-size:<%= vars.bodyFontSize %>;line-height:24px;font-family:<%= vars.fontFamily %>;color:<%= vars.textColor %>;padding:8px;border-radius:56px;vertical-align:top;" align="center">
    <img src="<%= imgSrc %>" width="74" height="74" alt="<%= imgAlt %>" style="max-width:74px;border-radius:56px;-ms-interpolation-mode:bicubic;display:block;border:0;line-height:100%;height:auto;" />
  </td>
</tr>
